.contenedor{
    padding: 5px;
    width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    /* display: flex; */
}
.img{
    background-color: gray;
    height: 180px;
}
.col-1{
    margin: 5px;
    width: 380px;
    float: left;
}
.col-2{
    margin: 5px;
    width: 195px;
    float: left;
}
.clear:after{
    content: " ";
    display: block;
    clear: both;
}